<%= render "layouts/navbar" %>

<h1><%= @product.name %></h1>
<h3>$<%= @product.cost %></h3>
<h3>Country of origin: <%= @product.country_of_origin %></h3>
<p>
  <%= link_to "Edit product details", edit_product_path(@product) %> -
  <%= link_to "Delete product", product_path(@product),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %>
</p>

<h4><%= @product.reviews.length %> Reviews</h4>
<% if user_signed_in? %>
  <p><%= link_to "Add a review", new_product_review_path(@product) %></p>
<% else %>
  <p><%= link_to 'Log in', new_user_session_path%> to add a review</p>
<% end %>
<% if @product.reviews.any? %>
  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <% user = User.find(review.user_id) %>
        <%= link_to user.name, user_path(user) %><br>
        <%= review.rating %> stars<br>
        <%= review.content_body %>
      </li>
    </ul>
  <% end %>
<% end %>
